<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.sense_os.googlefit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".CoreApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_alt_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyABlSprh8DHgeGJY4WlqOFHyC8PHPYG8T4"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyABlSprh8DHgeGJY4WlqOFHyC8PHPYG8T4" />
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyABlSprh8DHgeGJY4WlqOFHyC8PHPYG8T4" />

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Services -->
        <service android:name=".awareness.AwarenessIntentService"
            android:exported="false"/>
        <service android:name=".awareness.GoogleFitIntentService"
            android:exported="false"/>
        <!-- Receivers -->
        <receiver android:name=".awareness.receivers.GeofenceReceiver" />
        <receiver android:name=".awareness.receivers.ActivityReceiver" />
    </application>

</manifest>